:root {
    $c-orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    $c-lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

}


html,
body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 50%;
    width: 50%;
    max-width: 450px;
    margin: auto;
    background-image: radial-gradient(ellipse at top, var(--dark-blue), var(--very-dark-blue) 120%  );
    border-radius: 10px;

    .rating-container {
        
        height: 85%;
        width: 85%;
        margin: auto;
        margin-top: 7.5%;
        grid-template-rows: 20% 40% 40%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 60px 1fr 1fr;
        row-gap: 10px;

        .rating-container--star-header {
            border-radius: 50%;
            width: 60px;
            background: url("./images/icon-star.svg");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: var(--dark-blue);
        }
        

        .rating-container--text-info {
            &>h1 {
                color: var(--white);
            }

            &>p {
                color: var(--mediumGrey);
            }
            
        }

        .rating-container--rating-form {
            background-color: aliceblue;
            .rating-input-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: 1px solid red;
                height: 100%;
            }
        }

        
    }

}

@media (max-width: 400px){
    main {
        height: 50%;
        width: 85%;
        margin: auto;
        background-image: linear-gradient(var(var(--dark-blue)), var(--very-dark-blue) 120%  );
        border-radius: 10px;
        //box-shadow: 1px 1px 1px 1px var(var(--dark-blue));
    }
}



