@media (min-width: 500px) {
    .newsletter-page {
        height: 50%;
        width: 75%;
        max-width: 45rem;
        display: grid;
        grid-template-columns: 7fr 6fr;
        gap: 10px;
    }
}